  body {
    font-family: "Poppins", sans-serif;
  }
  button {
    font-family: "Poppins", sans-serif;
  }
.navbar-text { margin-left: 15px; }

.gray { background: #f5f5f5; }

.green { background: #b9f6ca; }

.yellow { background: #ffff8d; }

.blue { background: #84ffff; }

.darkBlue { background: #80d8ff; }

.deepBlue { background: #448aff; }

.purple { background: #b388ff; }

.lightPurple { background: #8c9eff; }

.red { background: #ff8a80; }

.pink { background: #ff80ab; }

.footer .footer-content {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}
